body {
  background-image: url("./model/backgrounds/StarryBackground.png");
  margin: 0px;
  overflow: hidden;
  color: white;
  text-align: center;
}
#title {
	color: #dddd00;
	font-size: 50px;
}

#description {
	margin-left: auto;
	margin-right: auto; 
	background-color: #000;
	color: #ffdd00;
	border: 2px solid #ffdd00;
	width: 70%;
	text-align: center;
	padding: 10px;
}
