body {
  background-color: #000;
  margin: 0px;
  overflow: hidden;
  color: white;
  text-align: center;
}

#description{
	border: 2px solid white;
	width: 800px;
	text-align: center;
	padding: 10px;
	margin-left: 30%;
}
